#menu {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
  z-index: 1000;
}

#navbar-header {
  padding: 1em;
}

#menu .header-title {
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: clamp(10px, 3.5vw, 24px);
  font-weight: 700;
  color: #00fff7;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#menu .header-link {
  color: white;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Navbar */
#menu {
  padding: 15px 0;
  transition: all 0.8s;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav-item {
  padding: 1em;
  font-size: clamp(10px, 4vw, 16px);
}

.nav-item a {
  text-decoration: none;
}

.navbar-toggler svg {
  color: white;
}

#navbarNav {
  justify-content: flex-end !important;
}

.navbar-toggler {
  border: none;
  padding: 0px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
