#tools-header {
  height: 55vh;
  /* background-color: #ff0000; */
  background-image: url(../../assets/SearchPageBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#tools-header::before {
  height: 55%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#tools-header * {
  position: relative;
  z-index: 2;
}

#tools-header h1 {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 60px;
}

#tools-header h3 {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 30px;
}
