#contribute {
  height: 30vh;
  text-align: center;
}

#contribute h1 {
  font-size: clamp(1.5rem, 5vw, 40px); /* Minimum, responsive, maximum size */
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
