.contribute {
  min-height: 50vh;
  text-align: center;
  color: white;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
  background: url(../../../assets/ContrinuteSectionBackground.jpeg) center center no-repeat;
}

/* Contribute Section */
/* .contributeIntro {
  display: table;
  width: 100%;
  height: 10%;
  padding: 0;
  background: url(../../../assets/Headphone.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
} */

/* .no-text1 {
  padding-top: 1000px;
  padding-bottom: 500px;
} */