/*****************************************************
                INFO CARD STYLES  
*****************************************************/
#info-card {
  height: 100%;
  background-color: white;
  color: #797979;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.1),
    10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

#info-card:hover {
  box-shadow: -1px -1px 10px rgba(73, 9, 194, 0.2),
    10px 10px 10px rgba(73, 9, 194, 0.5);
  transition: all 0.5s ease-in-out;
}

#info-card-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  min-height: 250px;
}

#info-card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

#info-card h3 {
  font-size: 1.1rem;
  color: #4909c2;
  margin: 0px 0px;
  text-align: left;
}

#item-desc {
  font-size: 0.8rem;
  text-align: left;
}

#info-card-footer-item {
  display: flex;
}

#info-product-icon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

/*****************************************************
                MEDIA QUERIES  
*****************************************************/
@media (max-width: 767px) {
  #item-desc {
    font-size: 0.6rem;
    text-align: left;
  }

  #info-card-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
