/* Features Section */
#features {
  height: 30vh;
  text-align: center;
}

#features .feature-text {
  color: white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#features h1 {
  font-size: 60px;
  font-weight: bold;
}
