/* Features Section */
.feature-intro {
  /* min-height: 100vh; */
  padding: 3rem;
  text-align: center;
  background-color: #e5e5e5;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
  background-image: url("../../../assets/BackProfile.jpg");
}

.feature-intro .feature-text {
  color: white;
}

.no-text {
  padding-top: 1000px;
  padding-bottom: 500px;
}