#tools.tools {
  height: fit-content;
}

.tools h1 {
  text-align: center;
}

#tools {
  width: 100%;
}

#tools-section {
  width: 100%;
  background-image: radial-gradient(#d3d3d3 1px, rgb(241, 241, 241) 1px);
  background-size: 20px 20px;
}
