body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-size: 16px;
}

* {
  font-family: Poppins, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utility classes */
.u-font-weight-bold {
  font-weight: bold;
}

.u-text-white {
  color: #FFFFFF;
}

/* Flex box */
.u-d-flex { display: flex; }
.u-justify-content-center { justify-content: center; }
.u-justify-content-between { justify-content: space-between; }
.u-justify-content-around { justify-content: space-around; }
.u-justify-content-evenly { justify-content: space-evenly; }
.u-justify-content-evenly { justify-content: flex-end; }
.u-align-items-center { align-items: center; }


/* Height */
.u-height-full { height: 100%; }

/* Shadow */
.u-default-shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}