.card {
  padding: 1rem;
  background-color: white;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-top-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(73, 9, 194, .5);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(73, 9, 194, .5);
}

.card-header {
  margin-top: .625rem;
  text-align: center;
  text-transform: capitalize;
}

.card-section-header {
  color: #FFC55A;
}