.card {
  padding: 3rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.1),
    10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  color: black;
}

.card:hover {
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.3),
    10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.card-header {
  margin-top: 0.625rem;
  text-align: center;
  text-transform: capitalize;
  color: #ffc55a;
  font-weight: bold;
}

.card-section-header {
  color: #ffc55a;
  font-weight: bold;
}

#card-description {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
